<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mogkolpon.scspforleaders">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_Eait" />
        <activity android:name=".Admin_Show" />
        <activity android:name=".Admin_SignUp" />
        <activity android:name=".SCSP" />
        <activity android:name=".Name_Add" />
        <activity android:name=".Name_Eait" />
        <activity android:name=".Name_Show" />
        <activity android:name=".Job_Add" />
        <activity android:name=".Job_Edit" />
        <activity android:name=".Job_Show" />
        <activity android:name=".Z_Name_List" />
        <activity android:name=".Z_Name_SignUp" />
        <activity android:name=".Work_NAME_JOB" />
        <activity android:name=".P1" />
        <activity android:name=".Report_Show" />
        <activity android:name=".Name_Show_2" />
        <activity android:name=".Work_NAME_JOB_2" />
        <activity android:name=".Name_Eait_2" />
        <activity android:name=".Name_Show_3" />
        <activity android:name=".Job_Show_Name"></activity>
    </application>

</manifest>